mixin modals()

  - var className = 'modals'

  include ../modal/modal.pug
  include ../form/form.pug
  include ../cards-big/cards-big.pug

  div(class=className)
    +modal('doc')
      h2(class='modal__title') Документы
      p(class='modal__text') вы можете ознакомиться со всей документацией, скачав пакет документов.
      ul(class='modal__list')
        li(class='modal__item')
          a(class='modal__link')(href='#')
            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.72923 15.8334C4.20976 15.8337 2.75242 15.2304 1.67779 14.1562C0.603172 13.0819 -0.000700201 11.6248 -0.000976468 10.1053C-0.00125273 8.58585 0.602089 7.12851 1.67632 6.05388C2.75055 4.97926 4.20768 4.37539 5.72715 4.37511C6.31375 2.96966 7.35692 1.80293 8.68822 1.0633C10.0195 0.323674 11.5612 0.0543236 13.0645 0.29874C14.5677 0.543156 15.9446 1.28707 16.973 2.41037C18.0014 3.53367 18.6212 4.97079 18.7324 6.48969L19.2709 6.45845C20.5141 6.45845 21.7064 6.95231 22.5855 7.83138C23.4645 8.71046 23.9584 9.90274 23.9584 11.1459C23.9584 12.3891 23.4645 13.5814 22.5855 14.4605C21.7064 15.3396 20.5141 15.8334 19.2709 15.8334H5.72923ZM5.72923 5.41678C4.48603 5.41678 3.29374 5.91064 2.41467 6.78972C1.53559 7.66879 1.04173 8.86108 1.04173 10.1043C1.04173 11.3475 1.53559 12.5398 2.41467 13.4188C3.29374 14.2979 4.48603 14.7918 5.72923 14.7918H19.2709C19.8208 14.7913 20.3635 14.6665 20.8584 14.4266C21.3532 14.1867 21.7874 13.838 22.1284 13.4066C22.4694 12.9751 22.7083 12.4721 22.8274 11.9352C22.9464 11.3984 22.9425 10.8415 22.8159 10.3063C22.6892 9.7712 22.4431 9.27164 22.0961 8.84506C21.749 8.41848 21.31 8.07594 20.8118 7.84308C20.3136 7.61023 19.7692 7.49309 19.2193 7.50044C18.6694 7.50779 18.1283 7.63944 17.6365 7.88553L17.7084 6.97928C17.71 5.59033 17.207 4.24809 16.293 3.20229C15.379 2.15648 14.1161 1.47834 12.7395 1.29403C11.3628 1.10971 9.96608 1.43179 8.80914 2.20033C7.6522 2.96887 6.81385 4.13153 6.45006 5.47199L5.72923 5.41678ZM12.5001 5.41678V10.8855L14.8438 8.54178L15.6251 9.23345L11.9792 12.8793L8.3334 9.23345L9.11465 8.54178L11.4584 10.8855V5.41678H12.5001Z"/>
            </svg>
            span(data-size='24 MB') Идентификационный номер налогоплательщика (ИНН)
        li(class='modal__item')
          a(class='modal__link')(href='#')
            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.72923 15.8334C4.20976 15.8337 2.75242 15.2304 1.67779 14.1562C0.603172 13.0819 -0.000700201 11.6248 -0.000976468 10.1053C-0.00125273 8.58585 0.602089 7.12851 1.67632 6.05388C2.75055 4.97926 4.20768 4.37539 5.72715 4.37511C6.31375 2.96966 7.35692 1.80293 8.68822 1.0633C10.0195 0.323674 11.5612 0.0543236 13.0645 0.29874C14.5677 0.543156 15.9446 1.28707 16.973 2.41037C18.0014 3.53367 18.6212 4.97079 18.7324 6.48969L19.2709 6.45845C20.5141 6.45845 21.7064 6.95231 22.5855 7.83138C23.4645 8.71046 23.9584 9.90274 23.9584 11.1459C23.9584 12.3891 23.4645 13.5814 22.5855 14.4605C21.7064 15.3396 20.5141 15.8334 19.2709 15.8334H5.72923ZM5.72923 5.41678C4.48603 5.41678 3.29374 5.91064 2.41467 6.78972C1.53559 7.66879 1.04173 8.86108 1.04173 10.1043C1.04173 11.3475 1.53559 12.5398 2.41467 13.4188C3.29374 14.2979 4.48603 14.7918 5.72923 14.7918H19.2709C19.8208 14.7913 20.3635 14.6665 20.8584 14.4266C21.3532 14.1867 21.7874 13.838 22.1284 13.4066C22.4694 12.9751 22.7083 12.4721 22.8274 11.9352C22.9464 11.3984 22.9425 10.8415 22.8159 10.3063C22.6892 9.7712 22.4431 9.27164 22.0961 8.84506C21.749 8.41848 21.31 8.07594 20.8118 7.84308C20.3136 7.61023 19.7692 7.49309 19.2193 7.50044C18.6694 7.50779 18.1283 7.63944 17.6365 7.88553L17.7084 6.97928C17.71 5.59033 17.207 4.24809 16.293 3.20229C15.379 2.15648 14.1161 1.47834 12.7395 1.29403C11.3628 1.10971 9.96608 1.43179 8.80914 2.20033C7.6522 2.96887 6.81385 4.13153 6.45006 5.47199L5.72923 5.41678ZM12.5001 5.41678V10.8855L14.8438 8.54178L15.6251 9.23345L11.9792 12.8793L8.3334 9.23345L9.11465 8.54178L11.4584 10.8855V5.41678H12.5001Z" />
            </svg>
            span(data-size='24 MB') Идентификационный номер налогоплательщика (ИНН)
        li(class='modal__item')
          a(class='modal__link')(href='#')
            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.72923 15.8334C4.20976 15.8337 2.75242 15.2304 1.67779 14.1562C0.603172 13.0819 -0.000700201 11.6248 -0.000976468 10.1053C-0.00125273 8.58585 0.602089 7.12851 1.67632 6.05388C2.75055 4.97926 4.20768 4.37539 5.72715 4.37511C6.31375 2.96966 7.35692 1.80293 8.68822 1.0633C10.0195 0.323674 11.5612 0.0543236 13.0645 0.29874C14.5677 0.543156 15.9446 1.28707 16.973 2.41037C18.0014 3.53367 18.6212 4.97079 18.7324 6.48969L19.2709 6.45845C20.5141 6.45845 21.7064 6.95231 22.5855 7.83138C23.4645 8.71046 23.9584 9.90274 23.9584 11.1459C23.9584 12.3891 23.4645 13.5814 22.5855 14.4605C21.7064 15.3396 20.5141 15.8334 19.2709 15.8334H5.72923ZM5.72923 5.41678C4.48603 5.41678 3.29374 5.91064 2.41467 6.78972C1.53559 7.66879 1.04173 8.86108 1.04173 10.1043C1.04173 11.3475 1.53559 12.5398 2.41467 13.4188C3.29374 14.2979 4.48603 14.7918 5.72923 14.7918H19.2709C19.8208 14.7913 20.3635 14.6665 20.8584 14.4266C21.3532 14.1867 21.7874 13.838 22.1284 13.4066C22.4694 12.9751 22.7083 12.4721 22.8274 11.9352C22.9464 11.3984 22.9425 10.8415 22.8159 10.3063C22.6892 9.7712 22.4431 9.27164 22.0961 8.84506C21.749 8.41848 21.31 8.07594 20.8118 7.84308C20.3136 7.61023 19.7692 7.49309 19.2193 7.50044C18.6694 7.50779 18.1283 7.63944 17.6365 7.88553L17.7084 6.97928C17.71 5.59033 17.207 4.24809 16.293 3.20229C15.379 2.15648 14.1161 1.47834 12.7395 1.29403C11.3628 1.10971 9.96608 1.43179 8.80914 2.20033C7.6522 2.96887 6.81385 4.13153 6.45006 5.47199L5.72923 5.41678ZM12.5001 5.41678V10.8855L14.8438 8.54178L15.6251 9.23345L11.9792 12.8793L8.3334 9.23345L9.11465 8.54178L11.4584 10.8855V5.41678H12.5001Z" />
            </svg>
            span(data-size='24 MB') Идентификационный номер налогоплательщика (ИНН)
        li(class='modal__item')
          a(class='modal__link')(href='#')
            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.72923 15.8334C4.20976 15.8337 2.75242 15.2304 1.67779 14.1562C0.603172 13.0819 -0.000700201 11.6248 -0.000976468 10.1053C-0.00125273 8.58585 0.602089 7.12851 1.67632 6.05388C2.75055 4.97926 4.20768 4.37539 5.72715 4.37511C6.31375 2.96966 7.35692 1.80293 8.68822 1.0633C10.0195 0.323674 11.5612 0.0543236 13.0645 0.29874C14.5677 0.543156 15.9446 1.28707 16.973 2.41037C18.0014 3.53367 18.6212 4.97079 18.7324 6.48969L19.2709 6.45845C20.5141 6.45845 21.7064 6.95231 22.5855 7.83138C23.4645 8.71046 23.9584 9.90274 23.9584 11.1459C23.9584 12.3891 23.4645 13.5814 22.5855 14.4605C21.7064 15.3396 20.5141 15.8334 19.2709 15.8334H5.72923ZM5.72923 5.41678C4.48603 5.41678 3.29374 5.91064 2.41467 6.78972C1.53559 7.66879 1.04173 8.86108 1.04173 10.1043C1.04173 11.3475 1.53559 12.5398 2.41467 13.4188C3.29374 14.2979 4.48603 14.7918 5.72923 14.7918H19.2709C19.8208 14.7913 20.3635 14.6665 20.8584 14.4266C21.3532 14.1867 21.7874 13.838 22.1284 13.4066C22.4694 12.9751 22.7083 12.4721 22.8274 11.9352C22.9464 11.3984 22.9425 10.8415 22.8159 10.3063C22.6892 9.7712 22.4431 9.27164 22.0961 8.84506C21.749 8.41848 21.31 8.07594 20.8118 7.84308C20.3136 7.61023 19.7692 7.49309 19.2193 7.50044C18.6694 7.50779 18.1283 7.63944 17.6365 7.88553L17.7084 6.97928C17.71 5.59033 17.207 4.24809 16.293 3.20229C15.379 2.15648 14.1161 1.47834 12.7395 1.29403C11.3628 1.10971 9.96608 1.43179 8.80914 2.20033C7.6522 2.96887 6.81385 4.13153 6.45006 5.47199L5.72923 5.41678ZM12.5001 5.41678V10.8855L14.8438 8.54178L15.6251 9.23345L11.9792 12.8793L8.3334 9.23345L9.11465 8.54178L11.4584 10.8855V5.41678H12.5001Z" />
            </svg>
            span(data-size='24 MB') Идентификационный номер налогоплательщика (ИНН)
        li(class='modal__item')
          a(class='modal__link')(href='#')
            <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.72923 15.8334C4.20976 15.8337 2.75242 15.2304 1.67779 14.1562C0.603172 13.0819 -0.000700201 11.6248 -0.000976468 10.1053C-0.00125273 8.58585 0.602089 7.12851 1.67632 6.05388C2.75055 4.97926 4.20768 4.37539 5.72715 4.37511C6.31375 2.96966 7.35692 1.80293 8.68822 1.0633C10.0195 0.323674 11.5612 0.0543236 13.0645 0.29874C14.5677 0.543156 15.9446 1.28707 16.973 2.41037C18.0014 3.53367 18.6212 4.97079 18.7324 6.48969L19.2709 6.45845C20.5141 6.45845 21.7064 6.95231 22.5855 7.83138C23.4645 8.71046 23.9584 9.90274 23.9584 11.1459C23.9584 12.3891 23.4645 13.5814 22.5855 14.4605C21.7064 15.3396 20.5141 15.8334 19.2709 15.8334H5.72923ZM5.72923 5.41678C4.48603 5.41678 3.29374 5.91064 2.41467 6.78972C1.53559 7.66879 1.04173 8.86108 1.04173 10.1043C1.04173 11.3475 1.53559 12.5398 2.41467 13.4188C3.29374 14.2979 4.48603 14.7918 5.72923 14.7918H19.2709C19.8208 14.7913 20.3635 14.6665 20.8584 14.4266C21.3532 14.1867 21.7874 13.838 22.1284 13.4066C22.4694 12.9751 22.7083 12.4721 22.8274 11.9352C22.9464 11.3984 22.9425 10.8415 22.8159 10.3063C22.6892 9.7712 22.4431 9.27164 22.0961 8.84506C21.749 8.41848 21.31 8.07594 20.8118 7.84308C20.3136 7.61023 19.7692 7.49309 19.2193 7.50044C18.6694 7.50779 18.1283 7.63944 17.6365 7.88553L17.7084 6.97928C17.71 5.59033 17.207 4.24809 16.293 3.20229C15.379 2.15648 14.1161 1.47834 12.7395 1.29403C11.3628 1.10971 9.96608 1.43179 8.80914 2.20033C7.6522 2.96887 6.81385 4.13153 6.45006 5.47199L5.72923 5.41678ZM12.5001 5.41678V10.8855L14.8438 8.54178L15.6251 9.23345L11.9792 12.8793L8.3334 9.23345L9.11465 8.54178L11.4584 10.8855V5.41678H12.5001Z" />
            </svg>
            span(data-size='24 MB') Идентификационный номер налогоплательщика (ИНН)
        li(class='modal__item is-last')
          +button('Скачать весь пакет документов', 'btn, btn-orange')(href='#', class='modal__button', download)

    +modal('oz')
      h2(class='modal__title') Оставьте заявку
      p(class='modal__text') мы свяжемся с вами в течение 24 <br> часов и обсудим детали
      +form()
    +modal('zne')
      h2(class='modal__title') Запишитесь на экскурсию
      p(class='modal__text') приезжайте в гости в любой день <br> с 12 до 17
      +form()
    +modal('ov')
      h2(class='modal__title') Остались вопросы?
      p(class='modal__text') оставтьте свой номер, и мы перезвоним <br> Вам в течение 24 часов.
      +form(true)
    +modal('th')
      h2(class='modal__title') Спасибо!
      p(class='modal__text') в ближайшее время <br> мы свяжемся с вами
    +modal('h, h1')
      +cards-big()
    +modal('h, h2')
      +cards-big()
    +overlay()