@import "../../library/variables.sass"
@import "../../library/mixins.sass"

.burger
  $component: & // #{component}__element
  display: flex
  align-items: center
  justify-content: center
  position: relative
  width: 28px
  border: none
  padding: 0
  line-height: 20px
  height: 20px
  background: transparent
  user-select: none
  cursor: pointer
  z-index: 6

  @include breakPoint(md)
    display: none

  > span
    display: inline-block
    position: relative
    width: 100%
    height: 2px
    vertical-align: middle
    font-size: 0
    color: transparent
    background-color: $color-white
    transition: background $transition-time $transition-time

    &:before,
    &:after
      content: ''
      position: absolute
      left: 0
      width: 100%
      height: 2px
      background-color: $color-white
      transform-origin: 50% 50%
      transition: top $transition-time $transition-time, transform $transition-time

    &:before
      top: -8px

    &:after
      top: 8px


  &--open
    > span
      transition: background $transition-time 0s
      background: transparent

      &:before,
      &:after
        top: 0
        transition: top $transition-time, transform $transition-time $transition-time

      &:before
        transform: rotate3d(0, 0, 1, 45deg)

      &:after
        transform: rotate3d(0, 0, 1, -45deg)