-
  var advantagesData = [
    {title: 'Гармония с природой', text: 'Чистый воздух, хвойные леса, живописные озера создают идеальные условия для отдыха вдали от городской суеты'},
    {title: 'Грибные и ягодные места', text: 'В окрестностях много грибов (поберезовики, белые, лисички), растет черника и замляника на компот или домашнее варенье'},
    {title: 'Охота и рыбалка', text: 'Разрешена охота и рыбалка в озерах водится ратан, плотва, окунь. В лесах много дичи, можно поохотиться на уток и рябчиков'},
    {title: 'Лыжный спорт', text: 'Снежными зимами сюда съезжаются лыжники, а прогулочная дорога в посёлке превращается в лыжную трассу'},
  ]