-
  var cardsData = [
    {
      imgName: {
        i1: 'cards/vigo-1.jpg',
        i2: 'cards/vigo-plan.jpg',
        i3: 'cards/vigo-2.jpg',
        i4: 'cards/vigo-3.jpg',
        i5: 'cards/vigo-4.jpg',
      },
      title: 'Виго',
      area: '20',
      areaHome: 76.6,
      price: '1 762',
      attr: 'h1'
    },
    {
      imgName: {
        i1: 'cards/vigo-1.jpg',
        i2: 'cards/vigo-plan.jpg',
        i3: 'cards/vigo-2.jpg',
        i4: 'cards/vigo-3.jpg',
        i5: 'cards/vigo-4.jpg',
      },
      title: 'Оденсе, Твинблок',
      area: '', areaHome: 136.45,
      price: '3 321',
      attr: 'h2'
    },
    {
      imgName: {
        i1: 'cards/vigo-1.jpg',
        i2: 'cards/vigo-plan.jpg',
      },
      title: 'Давос',
      area: '',
      areaHome: 119.7,
      price: '2 532',
      attr: 'h3'
    },
    {
      imgName: {
        i1: 'cards/vigo-1.jpg',
        i2: 'cards/vigo-plan.jpg',
      },
      title: 'Вроцлав',
      area: '',
      areaHome: 154.5,
      price: '3 770',
      attr: 'h4'
    },
    {
      imgName: {
        i1: 'cards/vigo-1.jpg',
        i2: 'cards/vigo-plan.jpg',
      },
      title: 'Виттория',
      area: '',
      areaHome: 86,
      price: '1 772',
      attr: 'h5'
    },
  ]