-
  var cardsData = [
    {imgName: 'vigo.jpg', title: '“виго”', areaHome: 76.6, price: '1 762'},
    {imgName: 'vigo.jpg', title: '“оденсе”, твинблок', areaHome: 136.45, price: '3 321'},
    {imgName: 'vigo.jpg', title: '“давос”', areaHome: 119.7, price: '2 532'},
    {imgName: 'vigo.jpg', title: '“вроцлав”', areaHome: 154.5, price: '3 770'},
    {imgName: 'vigo.jpg', title: '“виттория”', areaHome: 86, price: '1 772'},
  ]