-
  var moreData = [
    {text: 'вы цените чистую воду, свежий воздух, природную тишину, и экологически чистые продукты'},
    {text: 'вы мечтаете жить на природе вдали от городской суматохи, в тишине и спокойствии'},
    {text: 'вы любите активный отдых, например, лыжный спорт, рыбалку или охоту'},
    {text: 'вы заботитесь о своей семье или ищете подходящий дом для родителей'},
  ]