-
  var galleryData = [
    {imgName: '3', title: 'Фото 3'},
    {imgName: '4', title: 'Фото 4'},
    {imgName: '5', title: 'Фото 5'},
    {imgName: '6', title: 'Фото 6'},
    {imgName: '7', title: 'Фото 7'},
    {imgName: '8', title: 'Фото 8'},
    {imgName: '9', title: 'Фото 9'},
    {imgName: '10', title: 'Фото 10'},
    {imgName: '11', title: 'Фото 11'},
    {imgName: '12', title: 'Фото 12'},
    {imgName: '13', title: 'Фото 13'},
    {imgName: '14', title: 'Фото 14'},
    {imgName: '15', title: 'Фото 15'},
    {imgName: '16', title: 'Фото 16'},
    {imgName: '17', title: 'Фото 17'},
    {imgName: '18', title: 'Фото 18'},
    {imgName: '19', title: 'Фото 19'},
    {imgName: '20', title: 'Фото 20'},
    {imgName: '21', title: 'Фото 21'},
    {imgName: '22', title: 'Фото 22'},
    {imgName: '23', title: 'Фото 23'},
    {imgName: '24', title: 'Фото 24'},
  ]