-
  var navData = [
    {title: 'Дом', href: '#cards'},
    {title: 'План участков', href: '#'},
    {title: 'Документы', href: '#'},
    {title: 'Галерея', href: '#gallery'},
    {title: 'Видеотрансляция', href: '#observation'},
    {title: 'Контакты', href: '#map'},
  ];