-
  var navData = [
    {title: 'Дом', href: '#'},
    {title: 'План участков', href: '#'},
    {title: 'Документы', href: '#'},
    {title: 'Галерея', href: '#'},
    {title: 'Видеотрансляция', href: '#'},
    {title: 'Контакты', href: '#'},
  ];